html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  
  h3 {
    font-family: monospace;
  }
  
  .align-bottom {
    display: flex; 
    align-items: flex-end;
  }
  
  .pt-3p {
    padding-top: 3.0%;
  }
  
  .fb {
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .form > * {
      padding-top: 10px;
    }
  }